body{
	text-align: center;
	background-image: url("6907400.jpg");
}
h1{
	color: white;
	font-size:40px;
}
#list{
	border: none;
	padding: 30px;
	height: 60px;
	font-size:30px;
	vertical-align: center;
	padding-top: 13px;
	border-radius: 40px 20px;
	position: relative;top: 10px;	
}
#list2{
	border: none;
	padding: 30px;
	height: 60px;
	font-size:30px;
	vertical-align: center;
	padding-top: 13px;
	border-radius: 40px 20px;
	position: relative;top: 25px;	
}
#list3{
	border: none;
	padding: 30px;
	height: 60px;
	font-size:30px;
	vertical-align: center;
	padding-top: 13px;
	border-radius: 40px 20px;
	position: relative;top: 40px;	
}