body{
	
	background-image: url("6032628.jpg");

}
#tree{
	padding: 400px;
	height: 400px;
}
.box {
  border: 5px solid darkblue;
  height: 500px;
  width: 400px;
  text-align: left;
}
.wrapper{
 	height: 2500px;
 	width: 800px;
 	border: solid red 2px;
}