body{
  text-align: center;
   background-image: url('rm222-mind-22.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

table {
  width: 650px;
  border-top: 7px solid rgb(43, 129, 17);
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
}

td {
  text-align: left;
	padding: 10px;
	border: 3px solid rgb(43, 129, 17);
}
 th {
  text-align: center;
  padding: 10px;
	border: 3px solid rgb(43, 129, 17);
 }
  caption {
  text-align: center;
  padding: 10px;
  border: 3px solid rgb(43, 129, 17);
 }
 #tab2{
    position: relative;left: 300px;
 }
 #tab1{
    position: relative;left: 5px;
 }